[include]
	path = ~/.gitconfig.local

[color]
	ui = true

	# 使用可能な色
	# normal
	# black
	# red
	# green
	# yellow
	# blue
	# magenta
	# cyan
	# white

[color "status"]

	header		= white				# the header text of the status message
	updated		= cyan				# files which are added but not committed
	changed		= magenta				# files which are changed but not added in the index
	untracked	= green				# files which are not tracked by Git
	branch		= magenta				# the current branch
	nobranch	= magenta				# the color the no branch warning is shown in, defaulting to red

[push]
	default = current

[core]
	excludesfile = ~/.gitignore
	autocrlf = false
	editor = vim
	quotepath = false

[merge]
	ff = false

[pull]
	rebase = true

[init]
	defaultBranch = main

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
