[include]
	path = ~/.gitconfig.local

[color]
	ui = true

	# 使用可能な色
	# normal
	# black
	# red
	# green
	# yellow
	# blue
	# magenta
	# cyan
	# white

[color "status"]

	header		= white				# the header text of the status message
	updated		= cyan				# files which are added but not committed
	changed		= magenta				# files which are changed but not added in the index
	untracked	= green				# files which are not tracked by Git
	branch		= magenta				# the current branch
	nobranch	= magenta				# the color the no branch warning is shown in, defaulting to red

[alias]
	# アルファベット順に記載のこと
	bl = blame
	br = branch -a
	co = checkout
	# log options
	## diff
	### C: detect copy
	### M: detect rename
	## pretty format
	### %an		: author name
	### %h		: abbreviated commit hash
	### %s		: subject
	gr = log \
	  --graph \
	  --pretty=format:'%C(yellow)%h%Creset %C(magenta)[%s]%Creset %C(blue)%an%Creset' \
	  --date=iso

	# detailed log
	lgd = log \
	  --pretty=format:'%C(yellow)%h%Creset %C(magenta)[%s]%Creset %C(blue)%an%Creset' \
	  -5 \
	  --date=iso \
	  --date-order \
	  -C \
	  -M \
	  -p

	# simple log
	lgs = log \
	  --pretty=format:'%C(yellow)%h%Creset %C(magenta)[%s]%Creset %C(blue)%an%Creset' \
	  -5 \
	  --date=iso \
	  --date-order \
	  -C \
	  -M \
	  --name-status

	ls = ls-files
	st = status

[push]
	default = simple

[core]
	excludesfile = ~/.gitignore
	autocrlf = false
	editor = vim

[merge]
	ff = false

[pull]
	rebase = true