"*":
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "autocomplete-plus"
      "language-gfm"
    ]
    followSymlinks: true
    projectHome: "~/projects"
    telemetryConsent: "no"
    themes: [
      "zenburn-ui"
      "zenburn"
    ]
  editor:
    fontFamily: "Ricty Discord for Powerline"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "emacs-mode":
    hideSidebar: false
    hideTabs: false
    useEmacsCursor: true
    useFuzzyBufferFinder: false
    useFuzzyFileFinder: false
  "exception-reporting":
    userId: "e5758d35-740f-4a0e-11aa-ec10e6fcab4d"
  "markdown-preview":
    breakOnSingleNewline: true
  welcome:
    showOnStartup: false
