atom/.apm/*
atom/packages/*
atom/projects.cson
emacs/.cask
emacs/elpa
emacs/eshell
emacs/kkcrc
emacs/quelpa
emacs/recentf
emacs/session*
emacs/skk/*
!emacs/skk/.gitkeep
!emacs/skk/dic
emacs/skk/dic/*
!emacs/skk/dic/.gitkeep
emacs/tramp
emacs/vendor/*
!emacs/vendor/list
emacs/url/*
